* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  max-width: 1200px;
  min-height: 100svh;
  margin: 0 auto;
}

header {
  position: relative;
  grid-area: header;
  border: 1px solid black;
}

.side-bar {
  grid-area: sidebar;
  border: 1px solid red;
  display: none;
}

.nav-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  grid-area: main;
  border: 1px solid green;
}

footer {
  grid-area: footer;
  border: 1px solid blue;
}

.task-form {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 90%;

  margin: 0 auto;
  padding: 1rem;
  border: 1px solid black;
}

.project-option-wrapper,
.project-option-wrapper button,
.project-option-wrapper div {
  width: 100%;
  border: 1px solid orange;
}

.project-option-wrapper {
  position: relative;
}
.project-options {
  position: absolute;
  background-color: white;
  max-height: 100px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

.project-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  max-height: 200px;
  overflow-y: scroll;
}

#details {
  padding: 1rem;
  min-height: 200px;
}

.hide-element {
  display: none;
}

@media only screen and (min-width: 728px) {
  #root {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar footer";
  }
  .side-bar {
    display: block;
  }
}
