@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

:root {
  --sideBarWidth: 250px;

  /* colors */
  --black: #030404;
  --rust: #b7410e;
  --metallicBrown: #a53c15;
  --spanishGray: #989898;
  --lightGray: #d3d3d3;
  --darkGray: #726667;
  --darkGreen: #1f342d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Alkatra", sans-serif; */
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  max-width: 1200px;
  min-height: 100svh;
  margin: 0 auto;

  background-color: var(--lightGray);
}

/********** HEADER **********/

header {
  position: relative;
  grid-area: header;
  border-bottom: 2px solid var(--rust);
  color: var(--black);
}

.task-form {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 90%;
  z-index: 99;

  margin: 0 auto;
  padding: 1rem;
  border: 1px solid black;
  background-color: white;
}

.task-form > * {
  padding: 0.5rem;
}

.task-bottom {
  display: flex;
  justify-content: space-between;
}

.date-prio {
  border: 1px solid black;
  flex: 0 1 250px;
  display: flex;
  gap: 0.5rem;
}

#date {
  min-width: 120px;
  padding: 0.5rem;
}

#priority-list {
  flex: 1 1 100px;
  text-align: center;
}

.prio-option {
  flex: 1 1;
  padding: 0.5rem;
}

.btn-add-task {
  font-size: 2rem;
}

#btn-form-close {
  position: absolute;
  height: 25px;
  width: 25px;
  font-size: 20px;
  right: -2%;
  top: -5%;
  z-index: 1;
  padding: 0;
  line-height: 5px;
}

#details {
  padding: 1rem;
  height: 100px;
  resize: vertical;
}

/* .project-option-wrapper,
.project-option-wrapper button,
.project-option-wrapper div {
  width: 100%;
  border: 1px solid orange;
} */

.project-option-wrapper {
  position: relative;
}

.project-options {
  position: absolute;
  background-color: white;
  height: 100px;
  overflow-y: scroll;
}

/* ******************* */

/********** SIDEBAR **********/

.side-bar {
  grid-area: sidebar;
  background-color: var(--rust);
  color: var(--black);
  display: none;
  padding: 2rem 0.5rem;
  gap: 0.5rem;
}

.nav-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.btn-tab,
.btn-project-tab {
  color: var(--black);
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}

.proj-container {
  display: flex;
  gap: 10px;
  position: relative;
}

.delete-container {
  position: absolute;
  right: -5%;
  display: flex;
  gap: 0.3rem;
  background-color: red;
  border-radius: 20px;
  padding: 0.3rem 0.6rem;
}

.btn-project-tab {
  text-align: left;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-trash {
  flex-shrink: 0;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  transition: 0.2s;
}

.btn-trash:hover {
  transform: scale(1.3);
}

.btn-tab:hover,
.btn-project-tab:hover {
  border-bottom: 3px solid black;
}

.active-tab {
  border-bottom: 3px solid var(--black);
}

#add-project {
  display: flex;
}

#add-project > input {
  min-width: 0;
  padding: 0.3rem;
}

#add-project > button {
  width: 25%;
  font-size: 1.2rem;
  line-height: 5px;
}

.project-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

/* ******************* */

/********** MAIN **********/

.main {
  grid-area: main;
  display: grid;
  align-self: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1rem;
  padding: 1rem;
  color: var(--black);
}

.task-cards {
  height: 300px;
  box-shadow: 0 0 3px var(--black);
  border: 2px solid var(--black);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.task-cards > h3 {
  /* title */
  overflow-wrap: break-word;
  padding-right: 25px;
}

.task-cards p:nth-child(3) {
  /* details */
  flex-grow: 1;
  border-top: 1px solid var(--rust);
  padding: 0.5rem;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.task-cards div:last-child {
  /* edit and complete buttons */
  align-self: flex-end;
  position: absolute;
  bottom: 1rem;
  display: flex;
}

.task-cards button {
  transition: 0.3s;
  color: var(--rust);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
}

.task-cards button:hover {
  transform: scale(1.5);
}

.btn-card-delete {
  align-self: end;
  top: 0.5rem;
  position: absolute;
}

.task-completed {
  text-decoration: line-through;
}

/* ******************* */

/********** FOOTER **********/

footer {
  grid-area: footer;
  border: 1px solid var(--black);
}

/* ******************* */

/********** OTHERS **********/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.hide-element {
  display: none;
}

/* ******************* */

/********** MEDIA QUERIES **********/

@media only screen and (min-width: 728px) {
  #root {
    grid-template-columns: var(--sideBarWidth) 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar footer";
  }
  .side-bar {
    display: flex;
    flex-direction: column;
  }
}

/* ******************* */
